
@{

    ViewData["SurveyName"] = "Survey";
    ViewData["Title"] = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section headerlinks{}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Survey complete
            </h1>
            <div class="govuk-panel__body">
                
            </div>
        </div>
        <p class="govuk-body">Thank you for taking the time to provide feedback on the service.</p>
        <p class="govuk-body">Return to the <a href="http://www.gamblingcommission.gov.uk">Gambling Commission website</a></p>



    </div>
</div>

