@{

    ViewData["SurveyName"] = "Give us feedback on our services";
    ViewData["Title"] = "No survey found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Survey</span>
        <h1 class="govuk-heading-l">
            No survey found
        </h1>

        <p class="govuk-body">You could try some of these instead</p>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/survey/r/3a8d140d-85df-4b75-b695-e1878365b698">Apply for a personal functional licence</a>
            </li>
        </ul>


    </div>
</div>