@model NetCoreSUS.Models.Data.SessionStateViewModel

@{

    ViewData["SurveyName"] = "Survey";
    ViewData["Title"] = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section headerlinks{}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Survey</span>

        <h1 class="govuk-heading-l">
            @Model.SurveyName
        </h1>

        <p class="govuk-body">We use feedback to improve our services, making them easier to use and understand.</p>
        <p class="govuk-body">We will ask you to answer 5 statements, from strongly agree to strongly disagree.</p>
        <p class="govuk-body">You can also provide feedback about anything specific to the @Model.SurveyName.ToLower() service.</p>
        <p class="govuk-body">It should not take any more than a couple of minutes to complete this survey.</p>
        
        <a asp-action="Statement1" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Begin survey
        </a>

    </div>
</div>

